button, .btn-warning {
  cursor: pointer;
}

.dropdown-item, .btn-warning, .btn-warning:hover {
  color: white;
}

.carousel-item > img {
  width: 100%;
  height: 92vh;
  background-position: center;
  background-size: cover;
}

.img-fluid {
  width: 100%;
}

.scrollspySite {
  position: relative;
  overflow: auto;
  height: 20rem;
}

.card > img {
  height: 12.5rem;
}
